hr {
    border: 2px solid darkblue;
}

.hlavicka {
    background-color: paleturquoise;
    width: 100vw;
    height: 6vh;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 10px;
}

    .menu a {
        text-decoration: none;
        color: darkblue;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin: 5px;
        margin-left: 15px;
        padding-bottom: 3px;
    }

        .menu a:hover {
            border-bottom: 2px solid darkblue;
        }

.loginmenu {
    display: flex;
    position: absolute;
    right: 20px;
}

    .loginmenu a {
        text-decoration: none;
        color: darkblue;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        margin: 5px;
        margin-left: 15px;
        padding-bottom: 3px;
    }

        .loginmenu a:hover {
            border-bottom: 2px solid darkblue;
        }
