<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> <!-- Bootstrap CSS framework - dává aplikaci základní styling, komponenty a responsivní layout -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />  <!-- Vlastní CSS pro celou aplikaci - zde jsou vaše globální styly (asp-append-version zabrání cachování starého CSS) -->
    <link rel="stylesheet" href="~/MVC_projekt_Skolni_portal.styles.css" asp-append-version="true" />  <!-- CSS specifické pro tento projekt - přepíše či doplní Bootstrap a site.css (taky s verzingem pro cache) -->
</head>
<body>
    <h1 class="@ViewData["NadpisClass"]"> <!-- Definuje se v wwwroot\css\site.css - v podstate styl nadpisu -->
        @ViewData["Title"] <!-- Nadpis stranky ktery se lisi podle obsahu, definuje se ve VIEWS souborech-->
    </h1>
    <header class="hlavicka"> <!-- .hlavicka => wwwroot\css\site.css -->
        <nav class="menu"> <!-- .menu => wwwroot\css\site.css -->
            <a href="/Home/Index">Domů</a> <!-- klasicky HTML syntax, prehlednejsi nez "asp-..." -->
            <div class="loginmenu"> <!-- .loginmenu => wwwroot\css\site.css -->
                <a href="/User/Prihlaseni">Přihlaš se</a>
            </div>

        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <hr /> <!-- hr => wwwroot\css\site.css -->
        <p>&copy; Tým 2026</p>
    </footer>
</body>
</html>
